@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #0f1121;
}

:root {
  --header-background: 255, 255, 255; /*#FFFFFF */
  --header-elements: 226, 230, 233; /*#E2E6E9 */
  --link-text: 137, 147, 154;
  --link-hover-bg: 49, 50, 55;
  --dark-link-text: 117, 118, 127;
  --dark-link-hover-bg: 241, 242, 249;
  --burger-icon: 49, 50, 55; /*#313237 */

  --product-card-bg: 255, 255, 255; /*#FFFFFF */
  --product-card-border: 226, 230, 233; /*#E2E6E9 */
  --product-card-border-hover: 226, 230, 233;
  --product-card-drop-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);

  --add-to-cart-text-color: 255, 255, 255;
  --add-to-cart-bg: 49, 50, 55;
  --add-to-cart-bg-hover: 49, 50, 55;
  --add-to-cart-bg-selected: 226, 230, 233;
  --add-to-cart-text-color-selected: 39, 174, 96;
  --add-to-cart-drop-shadow: 0 3px 13px rgba(23, 32, 49, 0.4);

  --button-heart-text-color: 49, 50, 55;
  --button-heart-bg: 255, 255, 255;
  --button-heart-bg-hover: 255, 255, 255;
  --button-heart-border: 180, 189, 195;
  --button-heart-border-hover: 49, 50, 55;
  --button-heart-bg-selected: 255, 255, 255;
  --button-heart-border-selected: 226, 230, 233;
  --button-heart-text-color-selected: 235, 87, 87;

  --button-arrow-text-color: 49, 50, 55;
  --button-arrow-bg: 255, 255, 255;
  --button-arrow-bg-hover: 255, 255, 255;
  --button-arrow-border: 180, 189, 195;
  --button-arrow-border-hover: 49, 50, 55;
  --button-arrow-bg-disabled: 255, 255, 255;
  --button-arrow-border-disabled: 226, 230, 233;
  --button-arrow-text-color-disabled: 180, 189, 195;

  --button-paginator-text-color: 0, 0, 0;
  --button-paginator-bg: 255, 255, 255;
  --button-paginator-bg-hover: 255, 255, 255;
  --button-paginator-border: 226, 230, 233;
  --button-paginator-border-hover: 49, 50, 55;
  --button-paginator-bg-selected: 49, 50, 55;
  --button-paginator-border-selected: 49, 50, 55;
  --button-paginator-text-color-selected: 255, 255, 255;

  --breadcrumb-color: 137, 147, 154;
  --breadcrumb-color-current: 50, 53, 66;
  --breadcrumb-color-hover: 49, 50, 55;

  --drop-text-color: 49, 50, 55;
  --drop-arrow-color: 49, 50, 55;
  --drop-bg: 255 255 255;
  --drop-border: 180, 189, 195;
  --drop-bg-hover: 255 255 255;
  --drop-border-hover: 137, 147, 154;
  --drop-bg-focus: 255 255 255;
  --drop-border-focus: 49, 50, 55;

  --drop-list-bg: 255, 255, 255;
  --drop-list-border: 180, 189, 195;

  --drop-item-text-color: 137, 147, 154;
  --drop-item-text-color-hover: 49, 50, 55;
  --drop-item-bg: 255, 255, 255;
  --drop-item-bg-hover: 255, 255, 255;

  --drop-description-text-color: 137, 147, 154;

  --button-omparison-text-color: 49, 50, 55;
  --button-omparison-bg: 255, 255, 255;
  --button-omparison-bg-hover: 255, 255, 255;
  --button-omparison-border: 180, 189, 195;
  --button-omparison-border-hover: 137, 147, 154;
}

.dark {
  --header-background: 15, 17, 33; /*#0F1121 */
  --header-elements: 59, 62, 74; /*#3B3E4A */
  --link-text: 117, 118, 127;
  --link-hover-bg: 241, 242, 249;
  --dark-link-text: 117, 118, 127;
  --dark-link-hover-bg: 241, 242, 249;
  --burger-icon: 241, 242, 249; /*#F1F2F9 */

  --product-card-bg: 22, 24, 39; /*#161827 */
  --product-card-border: 22, 24, 39;
  --product-card-border-hover: 50, 53, 66;
  --product-card-drop-shadow: 0 0 0 rgba(0, 0, 0, 0);

  --add-to-cart-text-color: 241, 242, 249;
  --add-to-cart-bg: 144, 91, 255;
  --add-to-cart-bg-hover: 163, 120, 255;
  --add-to-cart-bg-selected: 50, 53, 66;
  --add-to-cart-text-color-selected: 241, 242, 249;
  --add-to-cart-drop-shadow: 0 0 0 rgba(0, 0, 0, 0);

  --button-heart-text-color: 241, 242, 249;
  --button-heart-bg: 50, 53, 66;
  --button-heart-bg-hover: 74, 77, 88;
  --button-heart-border: 50, 53, 66;
  --button-heart-border-hover: 74, 77, 88;
  --button-heart-bg-selected: 59, 62, 74;
  --button-heart-border-selected: 59, 62, 74;
  --button-heart-text-color-selected: 235, 87, 87;

  --button-arrow-text-color: 241, 242, 249;
  --button-arrow-bg: 50, 53, 66;
  --button-arrow-bg-hover: 74, 77, 88;
  --button-arrow-border: 50, 53, 66;
  --button-arrow-border-hover: 74, 77, 88;
  --button-arrow-bg-disabled: 15, 17, 33;
  --button-arrow-border-disabled: 59, 62, 74;
  --button-arrow-text-color-disabled: 74, 77, 88;

  --button-paginator-text-color: 241, 242, 249;
  --button-paginator-bg: 22, 24, 39;
  --button-paginator-bg-hover: 59, 62, 74;
  --button-paginator-border: 22, 24, 39;
  --button-paginator-border-hover: 59, 62, 74;
  --button-paginator-bg-selected: 144, 91, 255;
  --button-paginator-border-selected: 144, 91, 255;
  --button-paginator-text-color-selected: 241, 242, 249;

  --breadcrumb-color: 241, 242, 249;
  --breadcrumb-color-current: 175, 176, 179;
  --breadcrumb-color-hover: 144, 91, 255;

  --drop-text-color: 241, 242, 249;
  --drop-arrow-color: 117, 118, 127;
  --drop-bg: 50, 53, 66;
  --drop-border: 50, 53, 66;
  --drop-bg-hover: 50, 53, 66;
  --drop-border-hover: 74, 77, 88;
  --drop-bg-focus: 50, 53, 66;
  --drop-border-focus: 144, 91, 255;

  --drop-list-bg: 15, 17, 33;
  --drop-list-border: 50, 53, 66;

  --drop-item-text-color: 117, 118, 127;
  --drop-item-text-color-hover: 241, 242, 249;
  --drop-item-bg: 15, 17, 33;
  --drop-item-bg-hover: 50, 53, 66;

  --drop-description-text-color: 117, 118, 127;

  --button-omparison-text-color: 241, 242, 249;
  --button-omparison-bg: 15, 17, 33;
  --button-omparison-bg-hover: 15, 17, 33;
  --button-omparison-border: 50, 53, 66;
  --button-omparison-border-hover: 74, 77, 88;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* :root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
} */

.font-outline {
  color: transparent;
  -webkit-text-stroke: 2px #e2e2e2;
  font-family: inherit;
}

.font-mont {
  font-family: 'Mont', 'sans-serif';
}

.back-color {
  background-color: rgba(15, 17, 33, 1);
}

.color-secondary {
  color: #75767f;
}

.color-icons {
  color: #4a4d58;
}

.color-elements {
  color: #3b3e4a;
}

.color-surface2 {
  color: #323542;
}

.color-surface1 {
  color: #161827;
}

.background-surface1 {
  background-color: #161827;
}

.color-black {
  color: #0f1121;
}

.color-white {
  color: #f1f2f9;
}

.color-accent {
  color: #905bff;
}

.color-green {
  color: #27ae60;
}

.color-red {
  color: #eb5757;
}

/* .dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@config '../tailwind.config.js';
