.button-color {
  background-color: rgba(50, 53, 66, 1);
}

.phones-category {
  background-color: rgba(109, 100, 116, 1);
}

.tablets-category {
  background-color: rgba(117, 118, 127, 1);
}

.accessories-category {
  background-color: rgba(213, 60, 81, 1);
}
